<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    <div id="logo" style="background-image: url('{{ .Site.Params.logo | absURL }}')"></div>
  {{ else }}
    <div id="logo" style="background-image: url('{{ "images/logo.png" | absURL }}')"></div>
  {{ end}}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav">
    <!-- 导航菜单列表 -->
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}

      <!-- 修改点：将语言切换作为一个 <li> 插入列表，确保水平排列 -->
      <li class="nav-lang-item">
        <div class="lang-switch">
          <ul>
            {{ range .Site.Languages }}
              {{ $lang := .Lang }}
              {{ $isCurrent := eq $lang $.Lang }}

              <li>
                {{ if $isCurrent }}
                  <a href="#" class="active">{{ $lang | upper }}</a>
                {{ else }}
                  <!-- 修复后的翻译链接获取逻辑 -->
                  {{ $translationLink := "" }}
                  {{ range $.Page.Translations }}
                    {{ if eq .Lang $lang }}
                      {{ $translationLink = .Permalink }}
                    {{ end }}
                  {{ end }}

                  {{ if $translationLink }}
                    <a href="{{ $translationLink }}">{{ $lang | upper }}</a>
                  {{ else }}
                    <a href="{{ $lang | relLangURL }}">{{ $lang | upper }}</a>
                  {{ end }}
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </div>
      </li>
      <!-- 结束插入 -->

    </ul>
  </div>
</header>
